
.create-account-wrap
{
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}


.label {
    width:20%;
    padding:4px;
}

.value {
    width:80%;
    padding:4px;
}




.grid {
    width:100%;
}

.error {
    color: red;
}

.outputLabel {
    font-weight: bold;
}

.grid {
    width:33%;
    padding:4px;
}


